@use "../abstracts" as *;
@use "../base" as *;
.dashboard-wrapper {
  @extend .section;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  .outer {
    width: 100%;
  }

  .inner {
    padding: 1em;
  }

  .mini-wrapper {
    min-height: 110dvh;
  }

  .hamburger-react {
    position: fixed !important;
    top: 0.5em;
    right: 1em;
    color: var(--text);
    border-radius: 0.5em;
    z-index: 4;

    & * {
      pointer-events: none;
    }

    @include min(micro) {
      display: none;
    }
  }
}
