@use "../abstracts" as *;
@use "../base" as *;
.sales {
  --columns: 2;
  --gap: 1em;
  @extend .grid-defined;

  > * {
    background-color: var(--menu);
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--shadow);
  }

  h3 {
    margin-bottom: 1em;
  }

  .second {
    *:is(th, td):nth-of-type(n + 4) {
      display: none;
    }
  }

  @include max(special-2) {
    --columns: 1;
  }
}
